mixin config-block(num, ic, colr, isd, exp)
  .ui.card
    .content
      .ui.list
        .item
          .right.floated.content
            .ui.circular.labels
              .ui.label(class=colr)
                i.icon(class=ic)
              .ui.label(
                    data-tooltip='Delete' 
                    data-position='bottom right' 
                    data-variation='mini'
                  )
                i.remove.icon
          .content
            .ui.small.header Configuration #{num}
    .content
      .ui.very.relaxed.list
        .item
          .header.tiny.ui.blue
            i.history.mini.icon
            |  Issued (UTC)
          | #{isd}
        .progress(class='p-' + num)
        .item
          .header.tiny.ui.red
            i.calendar.icon
            |  Expires (UTC)
          | #{exp}
    button.ui.bottom.attached.button(
      class=colr=='blue' ? colr : 'blue disabled' 
      disabled=colr=='blue' ? false : true)
      i.download.icon
      | Download
