mixin config-block(title, ic, colr, isd, exp)
  .ui.raised.link.card
    .content
      .ui.list
        .item
          .right.floated.content
            .ui.circular.labels
              .ui.label(class=colr)
                i.icon(class=ic)
              .ui.label(
                    data-tooltip='Delete' 
                    data-position='bottom right' 
                    data-variation='mini'
                  )
                i.remove.icon
          .content
            .ui.header= title
    .content
      .ui.very.relaxed.list
        .item
          .header
            i.history.icon
            |  Issued (UTC)
          | #{isd}
        .item
          .header
            i.calendar.icon
            |  Expires (UTC)
          | #{exp}
    button.ui.bottom.attached.button
      i.download.icon
      | Download
