mixin config-block(num, ic, colr, isd, exp)
  .ui.card
    .content
      .ui.list
        .item
          .right.floated.content
            .ui.circular.labels
              .ui.label(
                class=colr
                data-tooltip=colr=='green' ? 'Active': 'Inactive'
                data-position='bottom right'
                data-variation='mini')
                i.icon(class=ic)
          .content
            .ui.small.header Configuration #{num}
    .content
      .ui.very.relaxed.list
        .item
          .header.tiny.ui.blue
            i.history.mini.icon
            |  Issued (UTC)
          | #{isd}
        .progress(class='p-' + num)
        .item
          .header.tiny.ui.red
            i.calendar.icon
            |  Expires (UTC)
          | #{exp}
    button.ui.bottom.attached.button(
      class='black' 
      disabled=colr=='green' ? true : false)
      i.trash.icon
      | Remove
